@using tl2_tp8_2025_carlitos0707.ViewModel;
@model PresupuestoViewModel

<h2>
    Id:  Nombre:  Fecha: 
</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>@Model.IdPresupuesto</th> <th>@Model.NombreDestinatario</th> <th>@Model.FechaCreacion</th>
        </tr>
        <tr>
            <th>Id producto</th> <th>Detalles</th> <th>Cantidad</th> <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach(DetallePresupuesto detalle in @Model.Detalles){
            <tr>
                <td>@detalle.producto.IdProducto</td> <td>@detalle.producto.Descripcion</td> <td>@detalle.Cantidad</td> <td>@detalle.Total()</td>
                <td><a asp-action="BorrarProducto" asp-controller="Presupuestos" asp-route-idPresupuesto="@Model.IdPresupuesto"asp-route-idProducto="@detalle.producto.IdProducto" class="btn btn-outline-danger">Borrar producto</a></td>
            </tr>
        }
        <tr>
            <td colspan="2"></td> <td>Total Presupuesto</td> <td>@Model.MontoPresupuesto()</td> 
        </tr>
        <tr>
            <td colspan="2"></td> <td>IVA</td> <td>%21</td> 
        </tr>
        <tr>
            <td colspan="2"></td> <td>Total Presupuesto + IVA</td> <td>@Model.MontoPresupuestoIVA()</td> 
        </tr>
    </tbody>
</table>
<hr />

<section>
<a asp-action="AgregarProducto" asp-controller="Presupuestos" asp-route-id="@Model.IdPresupuesto" class="btn btn-success">Agregar producto</a>
</section>